    withName: parse_json {
        publishDir = [
            path: { "${params.outdir}/parse_json" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: merge_bams {
        publishDir = [
            path: { "${params.outdir}/merge_bams" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: align {
        publishDir = [
            path: { "${params.outdir}/align" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: modkit {
        publishDir = [
            path: { "${params.outdir}/modkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ch3 {
        publishDir = [
            path: { "${params.outdir}/ch3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: qc {
        publishDir = [
            path: { "${params.outdir}/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: organize_data {
        publishDir = [
            path: { "${params.outdir}/organize_data" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: aws_upload_samples {
        publishDir = [
            path: { "${params.outdir}/aws_upload" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: aws_upload_batch {
        publishDir = [
            path: { "${params.outdir}/aws_upload" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: api_post {
        publishDir = [
            path: { "${params.outdir}/api_post" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }